.env

# Contracts 

# Compiler files
packages/contracts/cache/
packages/contracts/out/
# Ignores development broadcast logs
packages/contracts/!/broadcast
packages/contracts//broadcast/*/31337/
packages/contracts//broadcast/**/dry-run/
# Docs
packages/contracts/docs/
packages/contracts/.env

node_modules